@addTagHelper *, TheTallTankardTavern
@model TheTallTankardTavern.Models.PartyModel
@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.Constants
@using static TheTallTankardTavern.Helpers.ViewHelper

<style>
    .numeric {
        text-align: right;
        /*width: 80px;*/
    }

    #party input[type=number] {
        text-align: center;
        /*width: 80px;*/
    }

    #party-table th {
        min-width: 50px;
    }

    #party-table th[colspan='2'] {
        min-width: 100px;
    }
</style>

<table id="party-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Initiative</th>
            <th colspan="2">Hit Points</th>
            <th>Temp HP</th>
            @if (ContextUser.IsAdminOrDM)
            {
                <th>AC</th>
                <th>PP</th>
                <th>Languages</th>
            }
            <th width="50%">Conditions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MemberModel Member in Model.Members.OrderByDescending(m => m.Initiative).ThenBy(m => m.Character.Name))
        {
            string PCHPStatus = CheckPCHP(Member.Character.Hit_Points_Remaining, Member.Character.MaxHitPoints);
            <tr class="@PCHPStatus">
                <td>@Member.Character.Name</td>
                <td>@Member.Character.Race @Member.Character.Class</td>
                @if (ContextUser.HasUsername(Member.Character.Player_Name) || ContextUser.IsAdministrator)
                {
                    <td class="numeric">
                        <numberbox asp-for="@Member.Initiative" min="0"
                                   onchange="quickSaveMemberInitiative('@Member.CharacterId', this)"></numberbox>
                    </td>
                    <td class="numeric">
                        <numberbox asp-for="@Member.Character.Hit_Points_Remaining" min="0" max="@Member.Character.MaxHitPoints"
                                   onchange="quickSavePartyMemberHitPoints('@Member.CharacterId', this)"></numberbox>
                    </td>
                    <td>/ @Member.Character.MaxHitPoints</td>
                    <td class="numeric">
                        <numberbox asp-for="@Member.Character.Temp_Hit_Points" min="0"
                                   onchange="quickSaveTempHitPoints('@Member.CharacterId', this)"></numberbox>
                    </td>
                }
                else if (ContextUser.IsDungeonMaster)
                {
                    <td>@Member.Initiative</td>
                    <td>@Member.Character.Hit_Points_Remaining</td>
                    <td>/ @Member.Character.MaxHitPoints</td>
                    <td>@Member.Character.Temp_Hit_Points</td>
                }
                else
                {
                    <td>@Member.Initiative</td>
                    <td colspan="2">@PCHPStatus</td>
                    <td>@(Member.Character.Temp_Hit_Points > 0 ? "+ some extra" : "")</td>
                }
                @if (ContextUser.IsAdminOrDM)
                {
                    <td>@Member.Character.GetTotalAC()</td>
                    <td>@Member.Character.Passive_Perception</td>
                    <td>@(Member.Character?.Languages?.ToString(LANGUAGES.Common) ?? "")</td>
                }
                <td>
                    @if (ContextUser.IsAdminOrDM)
                    {
                        <textbox asp-for="@Member.Conditions"
                                 onchange="quickSavePartyMemberConditions('@Member.CharacterId', this)"></textbox>
                    }
                    else
                    {
                        @Member.Conditions
                    }
                </td>
            </tr>
        }
    </tbody>
</table>