@addTagHelper *, TheTallTankardTavern
@model TheTallTankardTavern.Models.PartyModel
@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.Constants

@{
    ViewData["Title"] = "Party";
}

@{
    string CheckPCHP(int remainingHP, int maxHP)
    {
        if (remainingHP > (maxHP / 2))
        {
            return "healthy";
        }
        else if (remainingHP > 0)
        {
            return "bloodied";
        }
        else
        {
            return "unconcious";
        }

    }
}

<style>
    .numeric {
        text-align: right;
        width: 80px;
    }

    #party input[type=number] {
        text-align: right;
        width: 80px;
    }

    #party .bloodied {
        background-color: #ffb3b3;
    }

    #party .unconcious {
        background-color: #cc0000;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <strong>Date (See <a asp-controller="Appendix" asp-action="Calendar">Calendar</a>):</strong>
        @if (ContextUser.IsAdminOrDM)
        {
            <textbox style="" asp-for="Date" oninput="quickSaveDate(this)"></textbox>
        }
        else
        {
            <textbox style="width:300px;border:none;background:none;" asp-for="Date" readonly></textbox>
        }
    </div>
    <div class="col-md-4">
        <buttonlink class="font-weight-bold" asp-action="Index" text="Refresh Page"></buttonlink>
        &nbsp;&nbsp;
        @if (ContextUser.IsAdminOrDM)
        {
            <buttonlink class="font-weight-bold" asp-action="ResetInitiative" text="Reset Initiative"></buttonlink>
            <span>&nbsp;&nbsp;</span>
        }
        <em id="auto-save-message"></em>
    </div>
    <div class="col-md-4">
        <partial name="/Views/Party/_PartyMemberAdd.cshtml" model="Model" />
    </div>
</div>
<br />
<div class="row" id="party">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th width="100px">Member</th>
                    <th width="50px">Level</th>
                    <th>Initiative</th>
                    <th colspan="2">Hit Points</th>
                    <th>Temp HP</th>
                    @if (ContextUser.IsAdminOrDM)
                    {
                        <th>AC</th>
                        <th>PP</th>
                        <th>Languages</th>
                    }
                    <th>Race</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MemberModel Member in Model.Members.OrderByDescending(m => m.Initiative).ThenBy(m => m.Character.Name))
                {
                    <tr class="@CheckPCHP(Member.Character.Hit_Points_Remaining, Member.Character.MaxHitPoints)">
                        <td>@Member.Character.Name</td>
                        <td>@Member.Character.Level</td>
                        @if (ContextUser.HasUsername(Member.Character.Player_Name) || ContextUser.IsAdminOrDM)
                        {
                            <td class="numeric">
                                <numberbox asp-for="@Member.Initiative" min="0"
                                           onchange="quickSaveMemberInitiative('@Member.CharacterId', this)"></numberbox>
                            </td>
                            <td class="numeric">
                                <numberbox asp-for="@Member.Character.Hit_Points_Remaining" min="0" max="@Member.Character.MaxHitPoints"
                                           onchange="quickSaveHitPoints('@Member.CharacterId', this)"></numberbox>
                            </td>
                            <td>/ @Member.Character.MaxHitPoints</td>
                            <td class="numeric">
                                <numberbox asp-for="@Member.Character.Temp_Hit_Points" min="0"
                                           onchange="quickSaveTempHitPoints('@Member.CharacterId', this)"></numberbox>
                            </td>
                        }
                        else
                        {
                            <td class="numeric">@Member.Initiative</td>
                            <td class="numeric">@Member.Character.Hit_Points_Remaining</td>
                            <td> / @Member.Character.MaxHitPoints</td>
                            <td class="numeric">@Member.Character.Temp_Hit_Points</td>
                        }
                        @if (ContextUser.IsAdminOrDM)
                        {
                            <td>@Member.Character.GetTotalAC()</td>
                            <td>@Member.Character.Passive_Perception</td>
                            <td>@Member.Character.Languages.ToString(LANGUAGES.Common)</td>
                        }
                        <td>@Member.Character.Race @Member.Character.Subrace.AddBraces()</td>
                        <td>@Member.Character.Class @Member.Character.Subclass.AddBraces()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row col-md-12">
        <strong><u>Other Useful Stuff</u></strong>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong><a href="https://www.dndbeyond.com/sources/basic-rules/appendix-a-conditions">Conditions</a></strong>
        </div>
        <div class="col-md-8">
            <strong>Exhaustion</strong>
            <table>
                <tr>
                    <th>Level</th>
                    <th>Effect</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Disadvantage on ability checks</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Speed halved</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Disadvantage on attack rolls and saving throws (*homebrew: not including death saves)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hit point maximum halved</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Speed reduced to 0</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Death</td>
                </tr>
            </table>
        </div>
    </div>
</div>