@model TheTallTankardTavern.Models.CharacterModel
@using static TheTallTankardTavern.Helpers.ViewHelper;
@addTagHelper *, TheTallTankardTavern

@{ 
    IEnumerable<SpellModel> CharacterSpells = SpellDataContext.Where(spell => Model.Spells.Contains(spell.ID))
        .OrderBy(s => s.Level).ThenBy(s => s.Name);
}

<div>KNOWN SPELLS @Model.GetPreparedSpellsCount()</div>
<table id="character-spells-list" table-hover="true">
    <thead>
        <tr>
            <th>Name</th>
            <th>School</th>
            <th>Level</th>
            <th>Range</th>
            <th>Comps</th>
            <th>Duration</th>
            <th>Cast Time</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(SpellModel Spell in CharacterSpells)
        {
        <tr data-toggle="modal" data-target="#popup-modal" data-title="@Spell.Name" data-desc="@Spell.Desc" data-higher-level="@Spell.Higher_Level_Desc">
            <td>@Spell.Name</td>
            <td>@Spell.School</td>
            <td>@Spell.Level</td>
            <td>@Spell.Range</td>
            <td>@SpellComponents(Spell)</td>
            <td>@Spell.Duration</td>
            <td>@Spell.Casting_Time</td>
            <td><span class="material-cost">@(Spell.Material_Cost)</span> @(Spell.Concentration ? (Spell.Ritual ? "Conc, Ritual" : "Conc") : (Spell.Ritual ? "Ritual" : ""))</td>
            <td><button class="td-action-btn" value="Forget" onclick="removeSpell('@Model.ID', '@Spell.ID', this)"></button></td>
        </tr>
        }
    </tbody>
</table>