@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<style>
    #character-other-stats label {
        font-weight: bold;
    }
</style>

<table id="character-other-stats">
    <thead>
        <tr>
            <th></th>
            <th width="100px"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label asp-for="Hit_Points_Remaining"></label></td>
            <td><numberbox asp-for="Hit_Points_Remaining" min="0" max="@Model.MaxHitPoints" onchange="quickSaveHitPoints('@Model.ID', this)"></numberbox></td>
            <td>/ @Model.MaxHitPoints HP</td>
        </tr>
        <tr>
            <td><label asp-for="Hit_Dice_Remaining"></label></td>
            <td><numberbox asp-for="Hit_Dice_Remaining" min="0" max="@Model.Level" onchange="quickSaveHitDice('@Model.ID', this)"></numberbox></td>
            <td>/ @Model.TotalHitDice</td>
        </tr>
        <tr>
            <td><label asp-for="Temp_Hit_Points"></label></td>
            <td><numberbox asp-for="Temp_Hit_Points" min="0" onchange="quickSaveTempHitPoints('@Model.ID', this)"></numberbox></td>
            <td></td>
        </tr>
        @if (Model.Class.ToLower().Contains("monk") && @Model.Level > 1)
        {
            <tr>
                <td><label asp-for="Ki_Points"></label></td>
                <td><numberbox asp-for="Ki_Points" min="0" max="@Model.Level" onchange="quickSaveKiPoints('@Model.ID', this)"></numberbox></td>
                <td>
                    / @Model.Level&nbsp;&nbsp;
                    <buttonlink class="action-btn" style="margin:0px" asp-action="RestorePoints" asp-route-id="@Model.ID" text="Restore"></buttonlink>
                </td>
            </tr>
        }
        @if (Model.Class.ToLower().Contains("sorcerer") && @Model.Level > 1)
        {
            <tr>
                <td><label asp-for="Sorcery_Points"></label></td>
                <td><numberbox asp-for="Sorcery_Points" min="0" max="@Model.Level" onchange="quickSaveSorceryPoints('@Model.ID', this)"></numberbox></td>
                <td>
                    / @Model.Level
                    @* SORCERY POINTS ONLY RESTORE ON LONG RESTS - THIS WAS TO ENABLE ONE-CLICK RESTORATION ON SHORT RESTS
                    &nbsp;&nbsp;
                    <buttonlink class="action-btn" style="margin:0px" asp-action="RestorePoints" asp-route-id="@Model.ID" text="Restore"></buttonlink>
                    *@
                </td>
            </tr>
        }
        @if (Model.Class.ToLower().Contains("druid") && @Model.Level > 1)
        {
            <tr>
                <td><label asp-for="Wild_Shapes"></label></td>
                @if (Model.Level < 20)
                {
                    <td><numberbox asp-for="Wild_Shapes" min="0" max="2" onchange="quickSaveWildShapes('@Model.ID', this)"></numberbox></td>
                    <td>
                        / 2&nbsp;&nbsp;
                        <buttonlink class="action-btn" style="margin:0px" asp-action="RestorePoints" asp-route-id="@Model.ID" text="Restore"></buttonlink>
                    </td>
                }
                else
                {
                    <td colspan="2">&infin;</td>
                }
            </tr>
        }
        @if (Model.Class.ToLower().Contains("rogue") && @Model.Level > 1)
        {
            <tr>
                <td><label>Sneak Attack Damage</label></td>
                <td colspan="2">+@((int)((Model.Level + 1) / 2))D6
            </tr>
        }
        <tr>
            <td><label asp-for="TotalAC"></label></td>
            <td>@Model.TotalAC</td>
            <td>(Base: @Model.BaseAC)</td>
        </tr>
        <tr>
            <td><label asp-for="Speed"></label></td>
            <td>
                @Model.Speed
                <strong style="color:red">
                    @if (Model.IsEncumbered()) { <span> / 2</span>}
                    @if (Model.IsArmourTooHeavy(Model.Equipment.Armour)) { <span> - 10ft</span> }
                </strong>
                 
            </td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Initiative"></label></td>
            <td>@Model.Initiative.AddSign()</td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Passive_Perception"></label></td>
            <td>@Model.Passive_Perception</td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="Proficiency_Bonus"></label></td>
            <td>@Model.Proficiency_Bonus.AddSign()</td>
            <td></td>
        </tr>
    </tbody>
</table>