@model TheTallTankardTavern.Models.CharacterModel
@using TheTallTankardTavern.Helpers
@using static TheTallTankardTavern.Helpers.ViewHelper
@using static TheTallTankardTavern.Configuration.Constants
@addTagHelper *, TheTallTankardTavern

<style>
    .skill-label {
        width: 130px;
        font-weight: bold;
    }
</style>

<table>
    <thead>
        <tr>
            <th colspan="6"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="@SkillHighlight(Model.Acrobatics) skill-label">Acrobatics</td>
            <td class="@SkillHighlight(Model.Acrobatics)">@Model.GetSkillModifider(SKILL_CATEGORY.Dexterity, Model.Acrobatics)</td>
            <td class="@SkillHighlight(Model.Insight) skill-label">Insight</td>
            <td class="@SkillHighlight(Model.Insight)">@Model.GetSkillModifider(SKILL_CATEGORY.Wisdom, Model.Insight)</td>
            <td class="@SkillHighlight(Model.Performance) skill-label">Performance</td>
            <td class="@SkillHighlight(Model.Performance)">@Model.GetSkillModifider(SKILL_CATEGORY.Charisma, Model.Performance)</td>
        </tr>
        <tr>
            <td class="@SkillHighlight(Model.Animal_Handling) skill-label">Animal Handling</td>
            <td class="@SkillHighlight(Model.Animal_Handling)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Animal_Handling)</td>
            <td class="@SkillHighlight(Model.Intimidation) skill-label">Intimidation</td>
            <td class="@SkillHighlight(Model.Intimidation)">@Model.GetSkillModifider(SKILL_CATEGORY.Charisma, Model.Intimidation)</td>
            <td class="@SkillHighlight(Model.Persuasion) skill-label">Persuasion</td>
            <td class="@SkillHighlight(Model.Persuasion)">@Model.GetSkillModifider(SKILL_CATEGORY.Charisma, Model.Persuasion)</td>
        </tr>
        <tr>
            <td class="@SkillHighlight(Model.Arcana) skill-label">Arcana</td>
            <td class="@SkillHighlight(Model.Arcana)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Arcana)</td>
            <td class="@SkillHighlight(Model.Investigation) skill-label">Investigation</td>
            <td class="@SkillHighlight(Model.Investigation)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Investigation)</td>
            <td class="@SkillHighlight(Model.Religion) skill-label">Religion</td>
            <td class="@SkillHighlight(Model.Religion)">@Model.GetSkillModifider(SKILL_CATEGORY.Wisdom, Model.Religion)</td>
        </tr>
        <tr>
            <td class="@SkillHighlight(Model.Athletics) skill-label">Athletics</td>
            <td class="@SkillHighlight(Model.Athletics)">@Model.GetSkillModifider(SKILL_CATEGORY.Strength, Model.Athletics)</td>
            <td class="@SkillHighlight(Model.Medicine) skill-label">Medicine</td>
            <td class="@SkillHighlight(Model.Medicine)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Medicine)</td>
            <td class="@SkillHighlight(Model.Sleight_Of_Hand) skill-label">Sleight Of Hand</td>
            <td class="@SkillHighlight(Model.Sleight_Of_Hand)">@Model.GetSkillModifider(SKILL_CATEGORY.Dexterity, Model.Sleight_Of_Hand)</td>
        </tr>
        <tr>
            <td class="@SkillHighlight(Model.Deception) skill-label">Deception</td>
            <td class="@SkillHighlight(Model.Deception)">@Model.GetSkillModifider(SKILL_CATEGORY.Charisma, Model.Deception)</td>
            <td class="@SkillHighlight(Model.Nature) skill-label">Nature</td>
            <td class="@SkillHighlight(Model.Nature)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Nature)</td>
            <td class="@SkillHighlight(Model.Stealth) skill-label">Stealth</td>
            <td class="@SkillHighlight(Model.Stealth)">@Model.GetSkillModifider(SKILL_CATEGORY.Dexterity, Model.Stealth)</td>
        </tr>
        <tr>
            <td class="@SkillHighlight(Model.History) skill-label">History</td>
            <td class="@SkillHighlight(Model.History)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.History)</td>
            <td class="@SkillHighlight(Model.Perception) skill-label">Perception</td>
            <td class="@SkillHighlight(Model.Perception)">@Model.GetSkillModifider(SKILL_CATEGORY.Wisdom, Model.Perception)</td>
            <td class="@SkillHighlight(Model.Survival) skill-label">Survival</td>
            <td class="@SkillHighlight(Model.Survival)">@Model.GetSkillModifider(SKILL_CATEGORY.Intelligence, Model.Survival)</td>
        </tr>
    </tbody>
</table>