@addTagHelper *, TheTallTankardTavern

@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.ApplicationSettings
@using static TheTallTankardTavern.Configuration.Constants

@{
    ViewData["Title"] = "Add";
}

@{
    FeatureModel Feature = FeatureDataContext.GetModelFromID((string)ViewData["id"]);
    CharacterModel ActiveCharacter = ContextUser.Current.GetActiveCharacter();
}


@if (ContextUser.IsAdministrator)
{
    <buttonlink class="td-action-btn" asp-action="Index" text="Cancel"></buttonlink> 
    <h5>Add Feature '@Feature.Name' to...</h5>
    <table>
        <thead>
            <tr>
                <th width="100px"></th>
                <th>Character</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CharacterModel Character in ContextUser.Characters.OrderBy(c => c.Player_Name))
            {
                <tr>
                    <td>
                        <buttonlink class="td-action-btn" asp-controller="Character" asp-action="AddModel" text="Add"
                                    asp-route-cid="@Character.ID" asp-route-id="@Feature.ID" asp-route-type="@MODEL_TYPES.FEATURE">
                        </buttonlink>
                    </td>
                    <td>@Character.Name</td>
                    <td>@Character.Player_Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5>Add Feature <strong>'@Feature.Name'</strong> to <strong>@(ActiveCharacter?.Name)</strong>?</h5>
    <buttonlink class="td-action-btn" asp-controller="Character" asp-action="AddModel" text="Yes"
                asp-route-cid="@ActiveCharacter.ID" asp-route-id="@Feature.ID" asp-route-type="@MODEL_TYPES.FEATURE">
    </buttonlink>
    <buttonlink class="td-action-btn" asp-action="Index" text="No"></buttonlink> 
}