@model IEnumerable<TheTallTankardTavern.Models.FeatureModel>
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Features";
}

<partial name="/Views/Shared/Custom/_PopupModalPartial.cshtml" />
<h1>@ViewData["Title"]</h1>

<partial name="/Views/Feature/_FeatureFiltersPartial.cshtml" />
    
<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />
<div class="row">
    <div class="col-md-12">
        <table table-hover="true">
            <thead>
                <tr>
                    <th><label>Name</label></th>
                    <th><label>Prerequisite</label></th>
                    <th><label>Class</label></th>
                    <th><label>Subclass</label></th>
                    <partial name="/Views/Shared/Custom/ActionButtons/_ColumnHeaderAddEditDelete.cshtml" />
                </tr>
            </thead>
            <tbody>
                @foreach (FeatureModel f in Model)
                {
                    <tr data-toggle="modal" data-target="#popup-modal" data-title="@f.Name" data-desc="@f.Desc">
                        <td>@f.Name</td>
                        <td>@f.Prerequisite</td>
                        <td>@f.Class</td>
                        <td>@f.Subclass</td>
                        <partial name="/Views/Shared/Custom/ActionButtons/_ColumnAddEditDelete.cshtml" model="f" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
