@model IEnumerable<TheTallTankardTavern.Models.FeatureModel>
@using TheTallTankardTavern.Configuration
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Features";
}

<partial name="/Views/Shared/Custom/_PopupModalPartial.cshtml" />

<h1>@ViewData["Title"]</h1>

<partial name="/Views/Shared/Custom/_FilterByClassPartial.cshtml" />

<div class="row">
    <div class="col-md-4">
        <table>
            <thead>
                <tr><th colspan="3">Filter By Feature Type</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><buttonlink style="font-weight:bold" asp-action="FilteredIndex" asp-route-filtertext="All" text="All"></buttonlink></td>
                    <td><buttonlink style="font-weight:bold" asp-action="FilteredIndex" asp-route-filtertext="ClassFeatures" text="Class Features"></buttonlink></td>
                    <td><buttonlink style="font-weight:bold" asp-action="FilteredIndex" asp-route-filtertext="NonClassFeatures" text="Non-Class Features"></buttonlink></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />
<div class="row">
    <div class="col-md-12">
        <table table-hover="true">
            <thead>
                <tr>
                    <th><label>Name</label></th>
                    <th><label>Prerequisite</label></th>
                    <th><label>Class</label></th>
                    <th><label>Subclass</label></th>
                    <partial name="/Views/Shared/Custom/ActionButtons/_ColumnHeaderAddEditDelete.cshtml" />
                </tr>
            </thead>
            <tbody>
                @foreach (FeatureModel f in Model)
                {
                    <tr data-toggle="modal" data-target="#popup-modal" data-title="@f.Name" data-desc="@f.Desc">
                        <td>@f.Name</td>
                        <td>@f.Prerequisite</td>
                        <td>@f.Class</td>
                        <td>@f.Subclass</td>
                        <partial name="/Views/Shared/Custom/ActionButtons/_ColumnAddEditDelete.cshtml" model="f" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
