@using TTT.Items
@model IEnumerable<ItemModel>
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Items";
}

<partial name="/Views/Shared/Custom/_PopupModalPartial.cshtml" />
<h1>@ViewData["Title"]</h1>

<partial name="/Views/Item/_ItemFiltersPartial.cshtml" />

<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />

<table table-hover="true">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Type</label></th>
            <th><label>Weight</label></th>
            <th><label>Cost</label></th>
            <partial name="/Views/Shared/Custom/ActionButtons/_ColumnHeaderAddEditDelete.cshtml" />
        </tr>
    </thead>
    <tbody>
        @foreach (ItemModel i in Model)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@i.Name" data-desc="@(i.Description)">
                <td>@i.Name</td>
                <td>@i.Type</td>
                <td>@i.Weight</td>
                <td>@i.Cost cp</td>
                <partial name="/Views/Shared/Custom/ActionButtons/_ColumnAddEditDelete.cshtml" model="i" />
            </tr>
        }
    </tbody>
</table>
