@addTagHelper *, TheTallTankardTavern

@using TheTallTankardTavern.Models
@using TheTallTankardTavern.Configuration
@using TTT.Items

@model StorageModel

@{
    CharacterModel CurrentCharacter = CharacterDataContext.GetModelFromID(ContextUser.Current.ActiveCharacterID);
}

<div class="col-md-6">        
    <table>
        <tr>
            <th colspan="3">
                @if (CurrentCharacter != null)
                {
                    <span>
                        @(CurrentCharacter.Name)'s Inventory (@CurrentCharacter.Inventory.CurrentWeight / @CurrentCharacter.CarryCapacity() lbs)
                        @if (CurrentCharacter.IsEncumbered())
                        {
                            <span style="color:red">ENCUMBERED! Half speed, disadvantage on STR/DEX/CON checks, attacks, and saves</span>
                        }
                    </span>
                }
                else
                {
                    <span style="color:red">Your profile does not have an active character selected</span>
                }
            </th>
        </tr>
        @if (CurrentCharacter != null)
        {
            @foreach (string inventoryID in CurrentCharacter.Inventory.OrderBy(s => ItemDataContext.GetModelFromID(s.Substring(0, s.IndexOf("+"))).Name))
            {
                ItemModel Item = ItemDataContext.GetModelFromID(inventoryID.Substring(0, inventoryID.IndexOf("+"))).Clone();
                Item.InventoryID = inventoryID;
                <tr>
                    <td width="100px"><button class="td-action-btn" value="Store" onclick="depositItem('@CurrentCharacter.ID', '@Item.InventoryID')"></button></td>
                    <td>@Item.Name</td>
                    <td>(@Item.Weight lbs)</td>
                </tr>
            }
        }
    </table>
</div>
<div class="col-md-6">
    <table>
        <tr>
            <th colspan="3">
                @(Model.Name)'s Inventory (@Model.Inventory.CurrentWeight / @Model.MaxCapacity lbs)
                @if (Model.Inventory.CurrentWeight > Model.MaxCapacity)
                {
                    <span style="color:red">Storage is overweight, remove some items!</span>
                }
            </th>
        </tr>
        @foreach (string inventoryID in Model.Inventory.OrderBy(s => ItemDataContext.GetModelFromID(s.Substring(0, s.IndexOf("+"))).Name))
        {
            ItemModel Item = ItemDataContext.GetModelFromID(inventoryID.Substring(0, inventoryID.IndexOf("+"))).Clone();
            Item.InventoryID = inventoryID;
            <tr>
                <td width="100px"><button class="td-action-btn" value="Take" onclick="withdrawItem('@CurrentCharacter.ID', '@Item.InventoryID')"></button></td>
                <td>@Item.Name</td>
                <td>(@Item.Weight lbs)</td>
            </tr>
        }
    </table>
</div>
