@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<div id="character-weapon-armour-proficiencies">
    <strong><label asp-for="WeaponArmourProficiencies"></label></strong>
    <div class="row">
        <div class="col-md-4">
            <table id="shield-and-armour">
                <thead>
                    <tr>
                        <th colspan="2">Shield &amp; Armour</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.ShieldAndArmourKeys)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>
            <table id="simple-melee-weapons">
                <thead>
                    <tr>
                        <th colspan="2">Simple Melee Weapons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.SimpleMeleeWeaponKeys)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="martial-melee-weapons">
                <thead>
                    <tr>
                        <th colspan="2">Martial Melee Weapons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.MartialMeleeWeaponKeys)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table id="simple-ranged-weapons">
                <thead>
                    <tr>
                        <th colspan="2">Simple Ranged Weapons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.SimpleRangedWeaponKeys)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>
            <table id="martial-ranged-weapons">
                <thead>
                    <tr>
                        <th colspan="2">Martial Ranged Weapons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.MartialRangedWeaponKeys)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<table id="other-weapons">
                <thead>
                    <tr>
                        <th colspan="2">Other Weapons</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string prof in Model.WeaponArmourProficiencies.OtherWeapons)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="WeaponArmourProficiencies[prof]" /></td>
                            <td><label>@prof</label></td>
                        </tr>
                    }
                </tbody>
            </table>*@
        </div>
    </div>
</div>