@model IEnumerable<TheTallTankardTavern.Models.MaterialModel>
@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.Constants
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Materials";
}

<partial name="/Views/Shared/Custom/_PopupModalPartial.cshtml" />

<h1>@ViewData["Title"]</h1>
<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />

<table table-hover="true">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Attack</label></th>
            <th><label>Damage</label></th>
            <th><label>AC</label></th>
            <th><label>Weight</label></th>
            <th><label>Slots</label></th>
            <th style="width:100px"><label>Cost / Unit</label></th>
            <partial name="/Views/Shared/Custom/ActionButtons/_ColumnHeaderEditDelete.cshtml" />
        </tr>
    </thead>
    <tbody>
        @foreach (MaterialModel m in Model)
        {
        <tr data-toggle="modal" data-target="#popup-modal" data-title="@m.Name">
            <td>@m.Name</td>
            <td>@m.Attack</td>
            <td>@m.Damage</td>
            <td>@m.Armour_Class</td>
            <td>@m.Weight_Class</td>
            <td>@m.Enchantment_Slots</td>
            <td style="text-align:right">@m.Cost_Per_Unit cp&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <partial name="/Views/Shared/Custom/ActionButtons/_ColumnEditDelete.cshtml" model="m" />
        </tr>
        }
    </tbody>
</table>
