@addTagHelper *, TheTallTankardTavern
@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.ApplicationSettings

@{
    ViewData["Title"] = "Dashboard";

    UserModel NullUser = new UserModel() { Username = "User Not Found", Message = "User was not found, most likely their system name was changed" };

    //Users (We're hardcoding for now)
    UserModel Tyler = UserDataContext.GetModelFromName("Tyler") ?? NullUser;
    UserModel Aaron = UserDataContext.GetModelFromName("Aaron") ?? NullUser;
    UserModel Alec = UserDataContext.GetModelFromName("Alec") ?? NullUser;
    UserModel Pav = UserDataContext.GetModelFromName("Pavanjot") ?? NullUser;
    UserModel Sam = UserDataContext.GetModelFromName("Sam") ?? NullUser;
}

<style>
    html, body, .container, main, .fillspace {
        width: 100%;
        height: 94%;
    }

/* STYLES FOR TRANSPOSED DASHBOARD

#dashboards {
    height: 70vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

#dashboards .row textarea {
    height: 22vh;
}

*/
</style>

@if (ContextUser.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8 offset-2" style="text-align: center;">
            @if (!string.IsNullOrEmpty(ContextUser.Current.ActiveCharacterID))
            {
                CharacterModel ActiveCharacter = ContextUser.Current.GetActiveCharacter();
                <buttonlink small="false" class="action-btn-large" style="width:150px" text="@ActiveCharacter.Name"
                            asp-controller="Character" asp-action="Details" asp-route-id="@ActiveCharacter.ID" ></buttonlink>
            }
            else
            {
                <buttonlink small="false" class="action-btn-large" style="width:150px" asp-controller="Character" asp-action="Index" text="Characters"></buttonlink>
            }
            &nbsp;&nbsp;
            <buttonlink small="false" class="action-btn-large" style="width:150px" asp-controller="Party" asp-action="Index" text="Party"></buttonlink>
            &nbsp;&nbsp;
            <buttonlink small="false" class="action-btn-large" style="width:150px" asp-controller="User" asp-action="Profile" text="My Profile"></buttonlink>
        </div>
    </div>
    <br />
    <div class="row fillspace">
        <div class="col-md-4 fillspace">
            <strong>@(Tyler.Username)'s Dashboard</strong>
            <textarea style="border:solid;height:100%" readonly="readonly" asp-for="@Tyler.Message"></textarea>
        </div>
        <div class="col-md-4 fillspace">
            <strong>@(Aaron.Username)'s Dashboard</strong>
            <textarea style="border:solid;height:49%" readonly="readonly" asp-for="@Aaron.Message"></textarea>
            <strong>@(Alec.Username)'s Dashboard</strong>
            <textarea style="border:solid;height:49%" readonly="readonly" asp-for="@Alec.Message"></textarea>
        </div>
        <div class="col-md-4 fillspace">
            <strong>@(Pav.Username)'s Dashboard</strong>
            <textarea style="border:solid;height:49%" readonly="readonly" asp-for="@Pav.Message"></textarea>
            <strong>@(Sam.Username)'s Dashboard</strong>
            <textarea style="border:solid;height:49%" readonly="readonly" asp-for="@Sam.Message"></textarea>
        </div>
    </div>

@* HTML FOR TRANSPOSED DASHBOARD
    
<div id="dashboards">
    <div class="row">
        <div class="col-md-12">
            <strong>@(Tyler.Username)'s Dashboard</strong>
            <textarea style="border:solid" readonly="readonly" asp-for="@Tyler.Message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>@(Aaron.Username)'s Dashboard</strong>
            <textarea style="border:solid" readonly="readonly" asp-for="@Aaron.Message"></textarea>
        </div>
        <div class="col-md-6">
            <strong>@(Pav.Username)'s Dashboard</strong>
            <textarea style="border:solid" readonly="readonly" asp-for="@Pav.Message"></textarea>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <strong>@(Alec.Username)'s Dashboard</strong>
            <textarea style="border:solid" readonly="readonly" asp-for="@Alec.Message"></textarea>
        </div>
        <div class="col-md-6">
            <strong>@(Sam.Username)'s Dashboard</strong>
            <textarea style="border:solid" readonly="readonly" asp-for="@Sam.Message"></textarea>
        </div>
    </div>
</div>

*@

}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align:center">
                Welcome to The Tall Tankard Tavern!
            </h2>
            <br />
            <div style="text-align:center;">
                <buttonlink small="false" class="action-btn-large" asp-controller="Login" asp-action="Index" text="Click here to log in!"></buttonlink>
            </div>
        </div>
    </div>
}
