@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = Model.Name;
}

<partial name="/Views/Shared/Custom/_PopupModalPartial.cshtml" />

<h4 class="title"><a href="@Model.Backstory_Link"><strong>@Model.Name</strong></a></h4>
<div class="subtitle">
    Level @Model.Level,
    @Model.Alignment,
    @Model.Race@Model.Subrace.AddBraces(),
    @Model.Class@Model.Subclass.AddBraces(),
    @Model.Background,
    Born @Model.Bio.Birthday
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Info about Levels, Classes, &amp; Experience <a asp-controller="Appendix" asp-action="CharacterAdvancement">here</a>.
</div>
<div id="character-experience-bar">
    <partial name="/Views/Character/Details/_ExperienceBarPartial.cshtml" model="Model" />
</div>

<partial name="/Views/Shared/Custom/ActionButtons/_BackEditDeletePartial.cshtml" model="Model" />
<em id="long-rest-message">@ViewData["long-rest-message"]</em>
<em id="auto-save-message"></em>

<div id="character-details">
    <partial name="/Views/Character/Details/_DetailsPartial.cshtml" model="Model" />
</div>
