@model IEnumerable<TheTallTankardTavern.Models.CharacterModel>
@using TheTallTankardTavern.Configuration
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Characters";
}

<h1>@ViewData["Title"]</h1>
<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />
@if (ContextUser.IsAdminOrDM)
{

    <table table-hover="true">
        <thead>
            <tr>
                <th><label>Player</label></th>
                <th><label>Character</label></th>
                <th><label>Level</label></th>
                <th><label>Race</label></th>
                <th><label>Class</label></th>
                <th><label>Alignment</label></th>
                <th style="width:120px"><label>Experience</label></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CharacterModel c in Model.Where(c => !ContextUser.HasUsername(c.Player_Name)))
            {
                <tr onclick="goTo('Character', 'Details', '@c.ID')">
                    <td>@c.Player_Name</td>
                    <td>@c.Name</td>
                    <td>@c.Level</td>
                    <td>@c.Race @c.Subrace.AddBraces()</td>
                    <td>@c.Class @c.Subclass.AddBraces()</td>
                    <td>@c.Alignment</td>
                    <td style="text-align:right">@c.Experience_Points.FormatNumber() / @c.NextLevelXP XP</td>
                    @if (ContextUser.IsAdministrator || ContextUser.HasUsername(c.Player_Name))
                    {
                        <td><buttonlink class="td-action-btn" asp-action="Edit" text="Edit" asp-route-id="@c.ID"></buttonlink></td>
                        <td><buttonlink class="td-action-btn" asp-action="Delete" text="Delete" asp-route-id="@c.ID"></buttonlink></td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
<br />
<table table-hover="true">
    <thead>
        <tr>
            <th><label>Player</label></th>
            <th><label>Character</label></th>
            <th><label>Level</label></th>
            <th><label>Race</label></th>
            <th><label>Class</label></th>
            <th><label>Alignment</label></th>
            <th style="width:120px"><label>Experience</label></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CharacterModel c in Model.Where(c => ContextUser.HasUsername(c.Player_Name)))
        {
            <tr onclick="goTo('Character', 'Details', '@c.ID')">
                <td>@c.Player_Name</td>
                <td>@c.Name</td>
                <td>@c.Level</td>
                <td>@c.Race @c.Subrace.AddBraces()</td>
                <td>@c.Class @c.Subclass.AddBraces()</td>
                <td>@c.Alignment</td>
                <td style="text-align:right">@c.Experience_Points / @c.NextLevelXP XP</td>
                @if (ContextUser.IsAdministrator || ContextUser.HasUsername(c.Player_Name))
                {
                    <td><buttonlink class="td-action-btn" asp-action="Edit" text="Edit" asp-route-id="@c.ID"></buttonlink></td>
                    <td><buttonlink class="td-action-btn" asp-action="Delete" text="Delete" asp-route-id="@c.ID"></buttonlink></td>
                }
                else
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                }
            </tr>
        }
    </tbody>
</table>
