@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

@if (Model.Equipment.SpellCastingFocus != null)
{
    <strong>FOCUS</strong>
    <table table-hover="true">
        <thead>
            <tr>
                <th><label>Name</label></th>
                <th><label>Type</label></th>
                <th><label>Weight</label></th>
                <th><label>Cost</label></th>
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.Equipment.SpellCastingFocus != null)
            {
                <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.SpellCastingFocus.Name" data-desc="@Model.Equipment.SpellCastingFocus.PopUpText" data-traits="">
                    <td>@Model.Equipment.SpellCastingFocus.Name</td>
                    <td>@Model.Equipment.SpellCastingFocus.Type</td>
                    <td>@Model.Equipment.SpellCastingFocus.Weight lbs</td>
                    <td>@Model.Equipment.SpellCastingFocus.Cost cp</td>
                    <td><button class="td-action-btn" value="Unequip" onclick="unequipArmour('@Model.ID', '@Model.Equipment.SpellCastingFocus.InventoryID')"></button></td>
                    @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
                </tr>

            }
        </tbody>
    </table>
}

<strong>ARMOUR &amp; SHIELD</strong>
<table table-hover="true">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Type</label></th>
            <th><label>Weight</label></th>
            <th><label>Cost</label></th>
            <th><label>Magic</label></th>
            <th><label>AC</label></th>
            <th><label>Str</label></th>
            <th><label>Noisy</label></th>
            <th></th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Equipment.Armour != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.Armour.Name" data-desc="@Model.Equipment.Armour.PopUpText" data-traits="">
                <td>@Model.Equipment.Armour.Name</td>
                <td>@Model.Equipment.Armour.Type</td>
                <td>@Model.Equipment.Armour.Weight lbs</td>
                <td>@Model.Equipment.Armour.Cost cp</td>
                <td>@Model.Equipment.Armour.IsMagic</td>
                <td>@Model.Equipment.Armour.Armour.ArmourClass</td>
                <td>@Model.Equipment.Armour.Armour.StrengthRequired</td>
                <td>@Model.Equipment.Armour.Armour.DisadvantageOnStealth</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipArmour('@Model.ID', '@Model.Equipment.Armour.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>

        }@if (Model.Equipment.Shield != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.Shield.Name" data-desc="@Model.Equipment.Shield.PopUpText" data-traits="">
                <td>@Model.Equipment.Shield.Name</td>
                <td>@Model.Equipment.Shield.Type</td>
                <td>@Model.Equipment.Shield.Weight lbs</td>
                <td>@Model.Equipment.Shield.Cost cp</td>
                <td>@Model.Equipment.Shield.IsMagic</td>
                <td>@Model.Equipment.Shield.Armour.ArmourClass</td>
                <td>@Model.Equipment.Shield.Armour.StrengthRequired</td>
                <td>@Model.Equipment.Shield.Armour.DisadvantageOnStealth</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipShield('@Model.ID', '@Model.Equipment.Shield.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
    </tbody>
</table>

<strong>WEAPONS</strong>
<table table-hover="true">
    <thead>
        <tr>
            <th></th>
            <th><label>Name</label></th>
            <th><label>Type</label></th>
            <th><label>Weight</label></th>
            <th><label>Cost</label></th>
            <th><label>Magic</label></th>
            <th><label>Bonus</label></th>
            <th><label>Damage</label></th>
            <th><label>Properties</label></th>
            <th></th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Equipment.TwoHand != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.TwoHand.Name" data-desc="@Model.Equipment.TwoHand.PopUpText" data-traits="">
                <td><strong>Two Hand</strong></td>
                <td>@Model.Equipment.TwoHand.Name</td>
                <td>@Model.Equipment.TwoHand.Type</td>
                <td>@Model.Equipment.TwoHand.Weight lbs</td>
                <td>@Model.Equipment.TwoHand.Cost cp</td>
                <td>@Model.Equipment.TwoHand.IsMagic</td>
                <td>@Model.Equipment.TwoHand.Weapon.Plus</td>
                <td>@Model.Equipment.TwoHand.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.TwoHand.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipTwoHand('@Model.ID', '@Model.Equipment.TwoHand.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
        @if (Model.Equipment.MainHand != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.MainHand.Name" data-desc="@Model.Equipment.MainHand.PopUpText" data-traits="">
                <td><strong>Main Hand</strong></td>
                <td>@Model.Equipment.MainHand.Name</td>
                <td>@Model.Equipment.MainHand.Type</td>
                <td>@Model.Equipment.MainHand.Weight lbs</td>
                <td>@Model.Equipment.MainHand.Cost cp</td>
                <td>@Model.Equipment.MainHand.IsMagic</td>
                <td>@Model.Equipment.MainHand.Weapon.Plus</td>
                <td>@Model.Equipment.MainHand.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.MainHand.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipMainHand('@Model.ID', '@Model.Equipment.MainHand.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
        @if (Model.Equipment.OffHand != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.OffHand.Name" data-desc="@Model.Equipment.OffHand.PopUpText" data-traits="">
                <td><strong>Off Hand</strong></td>
                <td>@Model.Equipment.OffHand.Name</td>
                <td>@Model.Equipment.OffHand.Type</td>
                <td>@Model.Equipment.OffHand.Weight lbs</td>
                <td>@Model.Equipment.OffHand.Cost cp</td>
                <td>@Model.Equipment.OffHand.IsMagic</td>
                <td>@Model.Equipment.OffHand.Weapon.Plus</td>
                <td>@Model.Equipment.OffHand.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.OffHand.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipOffHand('@Model.ID', '@Model.Equipment.OffHand.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
    </tbody>
</table>