@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<strong>Armour &amp; Shield</strong>
<table table-hover="true">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Type</label></th>
            <th><label>Weight</label></th>
            <th><label>Cost</label></th>
            <th><label>Magic</label></th>
            <th><label>AC</label></th>
            <th><label>Str</label></th>
            <th><label>Noisy</label></th>
            <th></th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Equipment.Armour != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.Armour.Name" data-desc="@Model.Equipment.Armour.PopUpText" data-traits="">
                <td>@Model.Equipment.Armour.Name</td>
                <td>@Model.Equipment.Armour.Type</td>
                <td>@Model.Equipment.Armour.Weight lbs</td>
                <td>@Model.Equipment.Armour.Cost cp</td>
                <td>@Model.Equipment.Armour.IsMagic</td>
                <td>@Model.Equipment.Armour.Armour.ArmourClass</td>
                <td>@Model.Equipment.Armour.Armour.StrengthRequired</td>
                <td>@Model.Equipment.Armour.Armour.DisadvantageOnStealth</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipArmour('@Model.ID', '@Model.Equipment.Armour.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>

        }@if (Model.Equipment.Shield != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.Shield.Name" data-desc="@Model.Equipment.Shield.PopUpText" data-traits="">
                <td>@Model.Equipment.Shield.Name</td>
                <td>@Model.Equipment.Shield.Type</td>
                <td>@Model.Equipment.Shield.Weight lbs</td>
                <td>@Model.Equipment.Shield.Cost cp</td>
                <td>@Model.Equipment.Shield.IsMagic</td>
                <td>@Model.Equipment.Shield.Armour.ArmourClass</td>
                <td>@Model.Equipment.Shield.Armour.StrengthRequired</td>
                <td>@Model.Equipment.Shield.Armour.DisadvantageOnStealth</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipShield('@Model.ID', '@Model.Equipment.Shield.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
    </tbody>
</table>

<strong>Weapons</strong>
<table table-hover="true">
    <thead>
        <tr>
            <th><label>Name</label></th>
            <th><label>Type</label></th>
            <th><label>Weight</label></th>
            <th><label>Cost</label></th>
            <th><label>Magic</label></th>
            <th><label>Bonus</label></th>
            <th><label>Damage</label></th>
            <th><label>Properties</label></th>
            <th></th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Equipment.TwoHandWeapon != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.TwoHandWeapon.Name" data-desc="@Model.Equipment.TwoHandWeapon.PopUpText" data-traits="">
                <td>@Model.Equipment.TwoHandWeapon.Name</td>
                <td>@Model.Equipment.TwoHandWeapon.Type</td>
                <td>@Model.Equipment.TwoHandWeapon.Weight lbs</td>
                <td>@Model.Equipment.TwoHandWeapon.Cost cp</td>
                <td>@Model.Equipment.TwoHandWeapon.IsMagic</td>
                <td>@Model.Equipment.TwoHandWeapon.Weapon.Plus</td>
                <td>@Model.Equipment.TwoHandWeapon.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.TwoHandWeapon.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipTwoHandWeapon('@Model.ID', '@Model.Equipment.TwoHandWeapon.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
        @if (Model.Equipment.WeaponOne != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.WeaponOne.Name" data-desc="@Model.Equipment.WeaponOne.PopUpText" data-traits="">
                <td>@Model.Equipment.WeaponOne.Name</td>
                <td>@Model.Equipment.WeaponOne.Type</td>
                <td>@Model.Equipment.WeaponOne.Weight lbs</td>
                <td>@Model.Equipment.WeaponOne.Cost cp</td>
                <td>@Model.Equipment.WeaponOne.IsMagic</td>
                <td>@Model.Equipment.WeaponOne.Weapon.Plus</td>
                <td>@Model.Equipment.WeaponOne.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.WeaponOne.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipWeaponOne('@Model.ID', '@Model.Equipment.WeaponOne.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
        @if (Model.Equipment.WeaponTwo != null)
        {
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.WeaponTwo.Name" data-desc="@Model.Equipment.WeaponTwo.PopUpText" data-traits="">
                <td>@Model.Equipment.WeaponTwo.Name</td>
                <td>@Model.Equipment.WeaponTwo.Type</td>
                <td>@Model.Equipment.WeaponTwo.Weight lbs</td>
                <td>@Model.Equipment.WeaponTwo.Cost cp</td>
                <td>@Model.Equipment.WeaponTwo.IsMagic</td>
                <td>@Model.Equipment.WeaponTwo.Weapon.Plus</td>
                <td>@Model.Equipment.WeaponTwo.Weapon.Damage.ToString()</td>
                <td>@Model.Equipment.WeaponTwo.Weapon.Properties.ToString()</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipWeaponTwo('@Model.ID', '@Model.Equipment.WeaponTwo.InventoryID')"></button></td>
                @*<td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@instanceID')"></button></td>*@
            </tr>
        }
    </tbody>
</table>