@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

@if (Model.Equipment.SpellCastingFocus != null)
{
    <strong>SPELLCASTING FOCUS</strong>
    <table table-hover="true">
        <tbody  data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.SpellCastingFocus.Name" data-desc="@Model.Equipment.SpellCastingFocus.PopUpText" data-traits="">
            <tr>
                <td><label>Name</label></td>
                <td>@Model.Equipment.SpellCastingFocus.Name</td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td>@Model.Equipment.SpellCastingFocus.Type</td>
            </tr>
            <tr>
                <td><label>Weight</label></td>
                <td>@Model.Equipment.SpellCastingFocus.Weight lbs</td>
            </tr>
            @*<tr>
                <td><label>Cost</label></td>
                <td>@Model.Equipment.SpellCastingFocus.Cost cp</td>
            </tr>*@
            <tr>
                <td class="text-center" colspan="2">
                    <button class="td-action-btn" value="Unequip" onclick="unequipSpellCastingFocus('@Model.ID', '@Model.Equipment.SpellCastingFocus.InventoryID')"></button>
                </td>
            </tr>
        </tbody>
    </table>

    @*<table table-hover="true">
        <thead>
            <tr>
                <th><label>Name</label></th>
                <th><label>Type</label></th>
                <th><label>Weight</label></th>
                <th><label>Cost</label></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Equipment.SpellCastingFocus != null)
            {
                <tr data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.SpellCastingFocus.Name" data-desc="@Model.Equipment.SpellCastingFocus.PopUpText" data-traits="">
                    <td>@Model.Equipment.SpellCastingFocus.Name</td>
                    <td>@Model.Equipment.SpellCastingFocus.Type</td>
                    <td>@Model.Equipment.SpellCastingFocus.Weight lbs</td>
                    <td>@Model.Equipment.SpellCastingFocus.Cost cp</td>
                    <td><button class="td-action-btn" value="Unequip" onclick="unequipArmour('@Model.ID', '@Model.Equipment.SpellCastingFocus.InventoryID')"></button></td>
                </tr>
            }
        </tbody>
    </table>*@
}