@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<style>
    #spellcasting-focus .btn {
        margin: 5px;
    }
</style>
<div class="card stat-card" id="spellcasting-focus">
    <div class="card-body" data-toggle="modal" data-target="#popup-modal" data-title="@Model.Equipment.SpellCastingFocus.Name" data-desc="@Model.Equipment.SpellCastingFocus.PopUpText" data-traits="">
        <div class="stat-card-label">SPELLCASTING FOCUS</div>
        <div class="stat-card-content">@Model.Equipment.SpellCastingFocus.Name</div>
        <div class="stat-card-content">@Model.Equipment.SpellCastingFocus.Type (@Model.Equipment.SpellCastingFocus.Weight lbs)</div>
        <div><button class="td-action-btn" value="Unequip" onclick="unequipSpellCastingFocus('@Model.ID', '@Model.Equipment.SpellCastingFocus.InventoryID')"></button></div>
    </div>
</div>