@model TheTallTankardTavern.Models.CharacterModel
@using TheTallTankardTavern.Helpers
@using static TheTallTankardTavern.Configuration.ApplicationSettings
@using static TheTallTankardTavern.Configuration.Constants.ITEM_TYPES
@using TTT.String
@using TTT.Items
@addTagHelper *, TheTallTankardTavern

<style>
    #equipped-armour-and-weapons-header p {
        margin: 0px;
        padding: 0px;
    }
</style>

<div id="equipped-armour-and-weapons-header">
    <div class="row">
        <div class="col-md-12">
            <p>EQUIPPED ARMOUR</p>
        </div>
    </div>
</div>
<table id="character-items-equipped-armour-and-weapons" table-hover="true">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>AC</th>
            <th>Weight</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string iid in Model.Equipment.Where(i => ItemDataContext.GetModelFromID(i).Type.IsArmour)
           .OrderBy(i => ItemDataContext.GetModelFromID(i).Name))
        {
            ItemModel Item = ItemDataContext.GetModelFromID(iid);
            <tr data-toggle="modal" data-target="#popup-modal" data-title="@Item.Name" data-desc="@Item.Description" data-traits="">
                <td>@Item.Name</td>
                <td>@Item.Type</td>
                <td>@Item.Armour.ArmourClass</td>
                <td>@Item.Weight</td>
                <td><button class="td-action-btn" value="Unequip" onclick="unequipItem('@Model.ID', '@Item.ID')"></button></td>
                <td><button class="td-action-btn" value="Remove" onclick="removeItemFromEquipment('@Model.ID', '@Item.ID')"></button></td>
            </tr>
        }
    </tbody>
</table>