@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern
@using TTT.Items

<style>
    #character-items-inventory input[type=button] {
        width: 100%;
    }
</style>

<div class="character-items-inventory">
    <div class="row">
        <div class="col-md-12" id="character-items-inventory-all">
            <strong>
                INVENTORY (@Model.Inventory.CurrentWeight/@Model.CarryCapacity() lbs)
                @if (Model.IsEncumbered())
                {
                    <span style="color:red">ENCUMBERED! Speed halved, disadvantage on all checks, attacks, and Str/Dex/Con saving throws</span>
                }
            </strong>
            <table table-hover="true">
                <thead>
                    <tr>
                        <th><label>Name</label></th>
                        <th><label>Type</label></th>
                        <th><label>Weight</label></th>
                        <th><label>Cost</label></th>
                        <th><label>Magic</label></th>
                        <th><label>AC</label></th>
                        <th><label>Str</label></th>
                        <th><label>Noisy</label></th>
                        <th><label>Bonus</label></th>
                        <th><label>Damage</label></th>
                        <th><label>Properties</label></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string inventoryID in Model.Inventory.OrderBy(i => ItemDataContext.GetModelFromID(i.Substring(0, i.IndexOf("+"))).Name))
                    {
                        ItemModel Item = ItemDataContext.GetModelFromID(inventoryID.Substring(0, inventoryID.IndexOf("+")));
                    <tr data-toggle="modal" data-target="#popup-modal" data-title="@Item.Name" data-desc="@Item.PopUpText" data-traits="">
                        <td>@Item.Name</td>
                        <td class="@(Model.IsProficientWith(Item) ? "skill-proficient" : "" )">@Item.Type</td>
                        <td>@Item.Weight lbs</td>
                        <td>@Item.Cost cp</td>
                        <td>@Item.IsMagic</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Armour))">@Item.Armour.ArmourClass</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Armour))">@Item.Armour.StrengthRequired</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Armour))">@Item.Armour.DisadvantageOnStealth</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Weapon))">@Item.Weapon.Plus</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Weapon))">@Item.Weapon.Damage.ToString()</td>
                        <td class="@ViewHelper.Disable(!Item.Is(ItemTypeCategory.Weapon))">@Item.Weapon.Properties.ToString()</td>
                        @if (!Item.Is(ItemTypeCategory.Other))
                        {
                            @if (Model.Equipment.Contains(inventoryID))
                            {
                                <td colspan="2">Equipped</td>
                            }
                            else
                            {
                                <td><button class="td-action-btn" value="Equip" onclick="equipItem('@Model.ID', '@inventoryID')"></button></td>
                                <td><button class="td-action-btn" value="Remove" onclick="removeItemFromInventory('@Model.ID', '@inventoryID')"></button></td>
                            }
                        }
                        else
                        {
                            <td></td>
                            <td><button class="td-action-btn" value="Remove" onclick="removeItemFromInventory('@Model.ID', '@inventoryID')"></button></td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>