@using TTT.Items
@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<br />
<strong>Attuned Items (Max @Model.Proficiency_Bonus)</strong>
<table table-hover="true">
    <tbody>
        @if (Model.Equipment.AttunedItems.Any())
        {
            foreach (ItemModel ai in Model.Equipment.AttunedItems)
            {
                <tr data-toggle="modal" data-target="#popup-modal" data-title="@ai.Name" data-desc="@ai.PopUpText" data-traits="">
                    <td class="@(ai.IsMagic ? "item-magic" : "")">@ai.Name</td>
                    <td>(@ai.Weight lbs)</td>
                    <td><button class="td-action-btn" value="Unequip" onclick="unequipAttunableItem('@Model.ID', '@ai.InventoryID')"></button></td>
                </tr> 

            }
        }
    </tbody>
</table>